# Godot
.godot/
*.import
export_presets.cfg

# macOS
.DS_Store

# Editor
*.swp
*.swo
*~

# Node
node_modules/

# Build artifacts
*.os
*.o
aeolia-godot/gdextension/bin/
aeolia-godot/gdextension/.sconsign.dblite

# Python
__pycache__/
*.pyc
*.pyo
